<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Data Sourse=(local);Initial Catalog=venancio;User Id=sa;password=123456 "
      providerName="System.Data.SqlClient" />
    <add name="siatConnectionString" connectionString="Data Source=;Initial Catalog=siat;Persist Security Info=True;User ID=consultasiat2;Password=Consulta2014"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
